version: "3.8"
services:
  backend:
    build: .
    ports:
      - "8000:8000"
    environment:
      - DB_URL=postgresql+psycopg2://postgres:postgres@db:5432/faceauth
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: faceauth
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
